# fly.toml app configuration file generated for botcontrol on 2025-02-24T02:10:17Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'botrading'
primary_region = 'gru'

[http_service]
  auto_stop_machines = 'off'
  auto_start_machines = true
  internal_port = 80
  force_https = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 2048
